In [ ]:
# Importamos las distintas librerias que vamos a utilizar:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
from scipy import stats
import scipy
import statsmodels.api as sm
import statsmodels.formula.api as smf
import plotly
%matplotlib inline
from sklearn.metrics import r2_score
import statistics

In [ ]:
datos = pd.read_excel('consolidado códigos 10 y 11.xlsx')
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4200 entries, 0 to 4199
Data columns (total 62 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Número Nacional de Identidad              4200 non-null   int64
 1   Nombre Empresa                            4200 non-null   object
 2   Año                                       4200 non-null   int64
 3   Edad Años                                 4200 non-null   int64
 4   Tamaño                                    4200 non-null   object
 5   NACE Rev. 2 Código principal (2 digitos)  4200 non-null   int64
 6   Código de consolidación                   4200 non-null   object
 7   Número de empleados 2021                  4200 non-null   object
 8   Región                                    4200 non-null   object
 9   Ciudad                                    4200 non-null   object
 10  Activos fijos                             4160 non-null   float64
 11  Otros activos fijos                       4200 non-null   object
 12  Activo circulante                         4200 non-null   object
 13  Valores                                   4200 non-null   object
 14  Deudores                                  4200 non-null   object
 15  Otros activos corrientes                  4200 non-null   object
 16  Efectivo y equivalentes de efectivo       4200 non-null   object
 17  Activos totales                           4200 non-null   float64
 18  Fondos de los accionistas                 4200 non-null   object
 19  Capital                                   4200 non-null   object
 20  Otros accionistas de fondos               4200 non-null   object
 21  Pasivos no corrientes                     4200 non-null   object
 22  Deuda a largo plazo                       4200 non-null   object
 23  Otros pasivos no corrientes               4200 non-null   object
 24  Pasivos corrientes                        4200 non-null   object
 25  Provisiones                               4200 non-null   object
 26  Deudas a corto plazo                      4200 non-null   object
 27  Préstamos                                 4200 non-null   object
 28  Acreedores                                4200 non-null   object
 29  Otros pasivos circulantes                 4200 non-null   object
 30  Pasivo total                              4200 non-null   object
 31  Total pasivo + Total patrimonio           4200 non-null   object
 32  Ingresos explotación (Cifra ventas)       4200 non-null   float64
 33  Ingresos de explotación (UVT)             4200 non-null   float64
 34  Ventas                                    4200 non-null   object
 35  Costes de los bienes vendidos             4200 non-null   float64
 36  Beneficio bruto                           4200 non-null   object
 37  Otros gastos de explotación               4200 non-null   object
 38  P/G operacionales [=EBIT]                 4200 non-null   object
 39  P&G Financieras                           4200 non-null   object
 40  Ingresos financieros                      4200 non-null   float64
 41  Gastos financieros                        4200 non-null   float64
 42  Result. ordinarios antes impuestos        4200 non-null   object
 43  Impuestos                                 4200 non-null   object
 44  Resultado actividades ordinarias          4200 non-null   object
 45  Extr. y otros P&G                         4200 non-null   object
 46  Extr. y otros ingresos                    4200 non-null   object
 47  Extr. y otros gastos                      4200 non-null   object
 48  P/G por periodo [=ingresos netos]         4200 non-null   object
 49  Intensidad tecnológica                    4200 non-null   object
 50  Holgura financiera                        4200 non-null   object
 51  Apalancamiento                            4200 non-null   object
 52  Presión financiera                        4200 non-null   object
 53  Solvencia                                 4200 non-null   object
 54  Holgura potencial                         4200 non-null   object
 55  Cash flow                                 4200 non-null   object
 56  ROA                                       4200 non-null   float64
 57  R_1                                       4200 non-null   object
 58  R_2                                       4200 non-null   object
 59  R_3                                       4200 non-null   object
 60  R_4                                       4200 non-null   object
 61  Valor añadido                             4200 non-null   float64
dtypes: float64(9), int64(4), object(49)
memory usage: 2.0+ MB

In [ ]:
rango = range(len(datos.index))

In [ ]:
#intensidadt = []
#for indice in rango:
 # try:
  #  intensi = float(datos.loc[indice, 'Activos totales']) / float(datos.loc[indice, 'Venta'])
   # intensidadt.append(intensi)
 # except:
  #  intensidadt.append('n.d.')

In [ ]:
#len(intensidadt)

4200

In [ ]:
#datos['Intensidad tecnológica'] = intensidadt

In [ ]:
#datos.head()

In [ ]:
def agre(indice, columna):
  if datos.loc[indice, columna] != 'n.d.':
    return datos.loc[indice, columna]
  else:
    return 0

In [ ]:
#holfi = []
#for indice in rango:
 # try:
  #  holgufi = float(datos.loc[indice, 'Activo circulante']) / float(datos.loc[indice, 'Pasivos corrientes'])
   # holfi.append(holgufi)
  #except:
   # holfi.append('n.d.')

In [ ]:
#len(holfi)

4200

In [ ]:
#datos['Holgura financiera'] = holfi

In [ ]:
#datos.head()

In [ ]:
#apalanca = []
#for indice in rango:
 # try:
  #  miento = float(datos.loc[indice, 'Pasivo total']) / float(datos.loc[indice, 'Activos totales'])
   # apalanca.append(miento)
  #except:
   # apalanca.append('n.d.')

In [ ]:
#len(apalanca)

4200

In [ ]:
#datos['Apalancamiento']=apalanca

In [ ]:
#datos.head()

In [ ]:
# presion financiera sin usar depreciacion
pres=[]
for indice in rango:
  if datos.loc[indice, 'Gastos financieros'] != 'n.d.' and datos.loc[indice, 'Result. ordinarios antes impuestos'] != 'n.d.':
    presion = float(datos.loc[indice, 'Gastos financieros'])/(float(datos.loc[indice, 'Result. ordinarios antes impuestos'])+float(datos.loc[indice, 'Gastos financieros']))
    pres.append(presion)
  else:
    pres.append('n.d.')

In [ ]:
len(pres)

4200

In [ ]:
datos['Presión financiera'] = pres

In [ ]:
#datos.head()

In [ ]:
#sol = []
#for indice in rango:
 # try:
  #  vencia = float(datos.loc[indice, 'Activos totales']) / float(datos.loc[indice, 'Pasivo total'])
   # sol.append(vencia)
  #except:
   # sol.append('n.d.')

In [ ]:
#len(sol)

In [ ]:
#datos['Solvencia'] = sol

In [ ]:
#datos.info()

In [ ]:
# holgura potencial con tesorería = caja = efectivo o equivalentes de efectivo
#holp = []
#for indice in rango:
 # try:
  #  holgura = float(datos.loc[indice, 'Efectivo y equivalentes de efectivo'])/float(datos.loc[indice, 'Deudas a corto plazo'])
   # holp.append(holgura)
  #except:
   # holp.append('n.d.')

In [ ]:
#len(holp)

In [ ]:
#datos['Holgura potencial'] = holp

In [ ]:
#datos.head()

In [ ]:
# cash flow sin amortizaciones (porque no se encuentran en la base de datos), y teniendo en cuenta que la variable provisiones
# no está disponible para la mayoria de observaciones.
# recordar que estandarizar por activos totales significa expresar la variable en términos de porcentaje de los activos totales

#cash = []
#for indice in rango:
 # if datos.loc[indice, 'Provisiones'] == 'n.d.':
  #  try:
   #   flow = float(datos.loc[indice, 'P/G por periodo [=ingresos netos]'])/float(datos.loc[indice, 'Activos totales'])
    #  cash.append(flow)
    #except:
     # cash.append('n.d.')
  #else:
   # try:
    #  flow = (float(datos.loc[indice, 'P/G por periodo [=ingresos netos]'])+
     #         float(datos.loc[indice, 'Provisiones']))/float(datos.loc[indice, 'Activos totales'])
      #cash.append(flow)
    #except:
     # cash.append('n.d.')

In [ ]:
#len(cash)

In [ ]:
#datos['Cash flow'] = cash

In [ ]:
#datos.head()

In [ ]:
# ROA
#roas = []
#for indice in rango:
 # try:
  #  roa = float(datos.loc[indice, 'P/G por periodo [=ingresos netos]'])/float(datos.loc[indice, 'Activos totales'])
   # roas.append(roa)
  #except:
   # roas.append('n.d.')

In [ ]:
#len(roas)

In [ ]:
#datos['ROA'] = roas

In [ ]:
#datos.head()

In [ ]:
#datos.head()

In [ ]:
# Riesgo financiero a partir de ROA
#riesgo1=[]
#riesgo2=[]
#riesgo3=[]
#riesgo4=[]
#for indice in rango:
 # if datos.loc[indice, 'ROA'] == 'n.d.':
  #  riesgo1.append('n.d.')
   # riesgo2.append('n.d.')
    #riesgo3.append('n.d.')
    #riesgo4.append('n.d.')
  #else:
   # if indice <= 1010:
    #  riesgo1.append(1)
     # riesgo2.append(0)
      #riesgo3.append(0)
      #riesgo4.append(0)
    #elif 1010 < indice <= 2021:
    #  riesgo1.append(0)
     # riesgo2.append(1)
      #riesgo3.append(0)
      #riesgo4.append(0)
   # elif 2021 < indice <= 3032:
    #  riesgo1.append(0)
     # riesgo2.append(0)
      #riesgo3.append(1)
      #riesgo4.append(0)
   # else:
    #  riesgo1.append(0)
     # riesgo2.append(0)
      #riesgo3.append(0)
     # riesgo4.append(1)

In [ ]:
#datos['R_1'] = riesgo1
#datos['R_2'] = riesgo2
#datos['R_3'] = riesgo3
#datos['R_4'] = riesgo4

In [ ]:
#patri=[]
#for indice in rango:
 # if datos.loc[indice, 'Fondos de los accionistas'] != 'n.d.':
  #  if datos.loc[indice, 'Capital'] != 'n.d.' and datos.loc[indice, 'Otros accionistas de fondos'] == 'n.d.':
   #   patrimo = float(datos.loc[indice, 'Fondos de los accionistas']) + float(datos.loc[indice, 'Capital'])
    #  patri.append(patrimo)
    #elif datos.loc[indice, 'Capital'] == 'n.d.' and datos.loc[indice, 'Otros accionistas de fondos'] != 'n.d.':
     # patrimo = float(datos.loc[indice, 'Fondos de los accionistas']) + float(datos.loc[indice, 'Otros accionistas de fondos'])
      #patri.append(patrimo)
    #elif datos.loc[indice, 'Capital'] != 'n.d.' and datos.loc[indice, 'Otros accionistas de fondos'] != 'n.d.':
     # patrimo = float(datos.loc[indice, 'Fondos de los accionistas']) + float(datos.loc[indice, 'Otros accionistas de fondos'])+float(datos.loc[indice, 'Capital'])
      #patri.append(patrimo)
    #else:
     # patrimo = float(datos.loc[indice, 'Fondos de los accionistas'])
      #patri.append(patrimo)
  #else:
   # patri.append('n.d.')

In [ ]:
#len(patri)

In [ ]:
#datos['Patrimonio total'] = patri

In [ ]:
#datos.head()

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4200 entries, 0 to 4199
Data columns (total 57 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Número Nacional de Identidad              4200 non-null   int64
 1   Nombre Empresa                            4200 non-null   object
 2   Año                                       4200 non-null   int64
 3   Edad Años                                 4200 non-null   int64
 4   NACE Rev. 2 Código principal (4 digitos)  4200 non-null   int64
 5   Código de consolidación                   4200 non-null   object
 6   Ciudad                                    4200 non-null   object
 7   Activos fijos                             4160 non-null   float64
 8   Otros activos fijos                       4200 non-null   object
 9   Activo circulante                         4200 non-null   object
 10  Valores                                   4200 non-null   object
 11  Deudores                                  4200 non-null   object
 12  Otros activos corrientes                  4200 non-null   object
 13  Efectivo y equivalentes de efectivo       4200 non-null   object
 14  Activos totales                           4200 non-null   float64
 15  Fondos de los accionistas                 4200 non-null   object
 16  Capital                                   4200 non-null   object
 17  Otros accionistas de fondos               4200 non-null   object
 18  Pasivos no corrientes                     4200 non-null   object
 19  Deuda a largo plazo                       4200 non-null   object
 20  Otros pasivos no corrientes               4200 non-null   object
 21  Pasivos corrientes                        4200 non-null   object
 22  Provisiones                               4200 non-null   object
 23  Deudas a corto plazo                      4200 non-null   object
 24  Préstamos                                 4200 non-null   object
 25  Acreedores                                4200 non-null   object
 26  Otros pasivos circulantes                 4200 non-null   object
 27  Pasivo total                              4200 non-null   object
 28  Total pasivo + Total patrimonio           4200 non-null   object
 29  Ingresos explotación (Cifra ventas)       4200 non-null   float64
 30  Venta                                     4200 non-null   object
 31  Costes de los bienes vendidos             4200 non-null   object
 32  Beneficio bruto                           4200 non-null   object
 33  Otros gastos de explotación               4200 non-null   object
 34  P/G operacionales [=EBIT]                 4200 non-null   object
 35  P&G Financieras                           4200 non-null   object
 36  Ingresos financieros                      4200 non-null   object
 37  Gastos financieros                        4200 non-null   object
 38  Result. ordinarios antes impuestos        4200 non-null   object
 39  Impuestos                                 4200 non-null   object
 40  Resultado actividades ordinarias          4200 non-null   object
 41  Extr. y otros P&G                         4200 non-null   object
 42  Extr. y otros ingresos                    4200 non-null   object
 43  Extr. y otros gastos                      4200 non-null   object
 44  P/G por periodo [=ingresos netos]         4200 non-null   object
 45  Apalancamiento                            4200 non-null   object
 46  Presión financiera                        4200 non-null   object
 47  Solvencia                                 4200 non-null   object
 48  Holgura potencial                         4200 non-null   object
 49  Cash flow                                 4200 non-null   object
 50  ROA                                       4200 non-null   object
 51  R_1                                       4200 non-null   object
 52  R_2                                       4200 non-null   object
 53  R_3                                       4200 non-null   object
 54  R_4                                       4200 non-null   object
 55  Intensidad tecnológica                    4200 non-null   object
 56  Holgura financiera                        4200 non-null   object
dtypes: float64(3), int64(4), object(50)
memory usage: 1.8+ MB

In [ ]:
#pas =[]
#for indice in rango:
 # try:
  #  pasi = float(datos.loc[indice, 'Total pasivo + Total patrimonio']) - float(datos.loc[indice, 'Fondos de los accionistas'])
   # pas.append(pasi)
  #except:
   # pas.append('n.d.')

In [ ]:
#len(pas)

In [ ]:
#datos['Pasivo total'] = pas

In [ ]:
#datos.head()

In [ ]:
#corri =[]
#for indice in rango:
 # try:
  #  ente = float(datos.loc[indice, 'Pasivo total']) - float(datos.loc[indice, 'Pasivos no corrientes'])
   # corri.append(ente)
  #except:
   # corri.append('n.d.')

In [ ]:
#datos['Pasivos corrientes'] = corri

In [ ]:
#datos.head()

In [ ]:
# Creamos la variable "Tamaño":
#tamaño = []
#for i in datos['Ingresos de explotación (UVT)']:
 # if i <= 23563:
  #  tamaño.append('Microempresa')
  #elif  204995 >= i > 23563:
   # tamaño.append('Pequeña Empresa')
  #elif  1736565 >= i > 204995:
   # tamaño.append('Mediana Empresa')
  #else:
   # tamaño.append('Gran Empresa')
#datos['Tamaño'] = tamaño

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4200 entries, 0 to 4199
Data columns (total 60 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Número Nacional de Identidad              4200 non-null   int64
 1   Nombre Empresa                            4200 non-null   object
 2   Año                                       4200 non-null   int64
 3   Edad Años                                 4200 non-null   int64
 4   Tamaño                                    4200 non-null   object
 5   NACE Rev. 2 Código principal (4 digitos)  4200 non-null   int64
 6   Código de consolidación                   4200 non-null   object
 7   Número de empleados 2021                  4200 non-null   object
 8   Ciudad                                    4200 non-null   object
 9   Activos fijos                             4160 non-null   float64
 10  Otros activos fijos                       4200 non-null   object
 11  Activo circulante                         4200 non-null   object
 12  Valores                                   4200 non-null   object
 13  Deudores                                  4200 non-null   object
 14  Otros activos corrientes                  4200 non-null   object
 15  Efectivo y equivalentes de efectivo       4200 non-null   object
 16  Activos totales                           4200 non-null   float64
 17  Fondos de los accionistas                 4200 non-null   object
 18  Capital                                   4200 non-null   object
 19  Otros accionistas de fondos               4200 non-null   object
 20  Pasivos no corrientes                     4200 non-null   object
 21  Deuda a largo plazo                       4200 non-null   object
 22  Otros pasivos no corrientes               4200 non-null   object
 23  Pasivos corrientes                        4200 non-null   object
 24  Provisiones                               4200 non-null   object
 25  Deudas a corto plazo                      4200 non-null   object
 26  Préstamos                                 4200 non-null   object
 27  Acreedores                                4200 non-null   object
 28  Otros pasivos circulantes                 4200 non-null   object
 29  Pasivo total                              4200 non-null   object
 30  Total pasivo + Total patrimonio           4200 non-null   object
 31  Ingresos explotación (Cifra ventas)       4200 non-null   float64
 32  Ingresos de explotación (UVT)             4200 non-null   float64
 33  Venta                                     4200 non-null   object
 34  Costes de los bienes vendidos             4200 non-null   object
 35  Beneficio bruto                           4200 non-null   object
 36  Otros gastos de explotación               4200 non-null   object
 37  P/G operacionales [=EBIT]                 4200 non-null   object
 38  P&G Financieras                           4200 non-null   object
 39  Ingresos financieros                      4200 non-null   object
 40  Gastos financieros                        4200 non-null   object
 41  Result. ordinarios antes impuestos        4200 non-null   object
 42  Impuestos                                 4200 non-null   object
 43  Resultado actividades ordinarias          4200 non-null   object
 44  Extr. y otros P&G                         4200 non-null   object
 45  Extr. y otros ingresos                    4200 non-null   object
 46  Extr. y otros gastos                      4200 non-null   object
 47  P/G por periodo [=ingresos netos]         4200 non-null   object
 48  Intensidad tecnológica                    4200 non-null   object
 49  Holgura financiera                        4200 non-null   object
 50  Apalancamiento                            4200 non-null   object
 51  Presión financiera                        4200 non-null   object
 52  Solvencia                                 4200 non-null   object
 53  Holgura potencial                         4200 non-null   object
 54  Cash flow                                 4200 non-null   object
 55  ROA                                       4200 non-null   object
 56  R_1                                       4200 non-null   object
 57  R_2                                       4200 non-null   object
 58  R_3                                       4200 non-null   object
 59  R_4                                       4200 non-null   object
dtypes: float64(4), int64(4), object(52)
memory usage: 1.9+ MB

In [ ]:
pd.options.display.max_rows = 4000

In [ ]:
datos['Ciudad'].value_counts()

BOGOTA                    1374
CALI                       702
MEDELLIN                   486
YUMBO                       96
PALMIRA                     78
ITAGUI                      72
BARRANQUILLA                60
BUCARAMANGA                 54
CHIA                        48
SABANETA                    48
MANIZALES                   42
PEREIRA                     42
SOACHA                      36
BELLO                       36
CAJICA                      36
COTA                        36
ENVIGADO                    36
TULUA                       30
FLORIDABLANCA               30
CARTAGO                     30
MOSQUERA                    30
LA ESTRELLA                 30
FUNZA                       24
GIRON                       24
CANDELARIA                  24
RIONEGRO                    24
CARTAGENA                   24
NEIVA                       18
IBAGUE                      18
SAN PEDRO                   18
MONTERIA                    18
TOCANCIPA                   18
FUSAGASUGA                  18
SINCELEJO                   18
GIRARDOTA                   18
MADRID                      18
ZIPAQUIRA                   18
TENJO                       18
BUGA                        18
CUCUTA                      12
BARBOSA                     12
SANTANDER DE QUILICHAO      12
PASTO                       12
ARMENIA                     12
LA UNION                    12
COPACABANA                  12
JAMUNDI                     12
SIMIJACA                    12
POPAYAN                     12
VALLEDUPAR                  12
ENTRERRIOS                  12
GALAPA                       6
MALAMBO                      6
ANSERMANUEVO                 6
BUENAVENTURA                 6
EL TAMBO                     6
ANSERMA                      6
SANTUARIO                    6
SEVILLA                      6
BUGALAGRANDE                 6
PUERTO TEJADA                6
SANTA MARTA                  6
CIENAGA                      6
ACACIAS                      6
CAQUEZA                      6
FACATATIVA                   6
CAJIBIO                      6
TANGUA                       6
COGUA                        6
CAMPOALEGRE                  6
GRANADA                      6
CIENAGA DE ORO               6
RESTREPO                     6
SANTA BARBARA                6
ZARZAL                       6
URRAO                        6
UBATE                        6
SAN MARCOS                   6
SIBATE                       6
EL ROSAL                     6
FLORENCIA                    6
PLANETA RICA                 6
SOLEDAD                      6
CAREPA                       6
GUAMAL                       6
YARUMAL                      6
DON MATIAS                   6
ROLDANILLO                   6
URIBIA                       6
PRADERA                      6
CALOTO                       6
COROZAL                      6
DOSQUEBRADAS                 6
TURBACO                      6
TUNJA                        6
GIRARDOT                     6
LETICIA                      6
SUBACHOQUE                   6
FUNDACION                    6
Name: Ciudad, dtype: int64

In [ ]:
# variable region
region = []
for i in datos['Ciudad']:
  if i == 'BOGOTA' or i == 'CHIA' or i == 'SOACHA' or i == 'CAJICA' or i == 'COTA' or i == 'MOSQUERA' or i == 'FUNZA' or i == 'TOCANCIPA' or i == 'FUSAGASUGA' or i == 'MADRID' or i == 'ZIPAQUIRA' or i == 'TENJO' or i == 'SIMIJACA' or i == 'CAQUEZA' or i == 'FACATATIVA' or i == 'COGUA' or i == 'UBATE' or i == 'SIBATE' or i == 'EL ROSAL' or i == 'GIRARDOT' or i == 'SUBACHOQUE':
    region.append('BOGOTA')
  elif  i == 'BUCARAMANGA' or i == 'FLORIDABLANCA' or i == 'GIRON' or i == 'CUCUTA' or i == 'BARBOSA' or i == 'TUNJA':
    region.append('NORORIENTE')
  elif  i == 'MEDELLIN' or i == 'ITAGUI' or i == 'SABANETA' or i == 'BELLO' or i == 'ENVIGADO' or i == 'LA ESTRELLA' or i == 'RIONEGRO' or i == 'GIRARDOTA' or i == 'COPACABANA' or i == 'ENTRERRIOS' or i == 'SANTA BARBARA' or i == 'URRAO' or i == 'CAREPA' or i == 'YARUMAL' or i == 'DON MATIAS':
    region.append('NOROCCIDENTE')
  elif  i == 'ACACIAS' or i == 'GRANADA' or i == 'RESTREPO' or i == 'GUAMAL' or i == 'LETICIA':
    region.append('SURORIENTE')
  elif  i == 'NEIVA' or i == 'IBAGUE' or i == 'CAMPOALEGRE' or i == 'FLORENCIA':
    region.append('CENTRO')
  elif  i == 'MANIZALES' or i == 'PEREIRA' or i == 'ARMENIA' or i == 'ANSERMA' or i == 'SANTUARIO' or i == 'DOSQUEBRADAS':
    region.append('EJE CAFETERO')
  elif  i == 'CALI' or i == 'YUMBO' or i == 'PALMIRA' or i == 'TULUA' or i == 'CARTAGO' or i == 'CANDELARIA' or i == 'SAN PEDRO' or i == 'BUGA' or i == 'SANTANDER DE QUILICHAO' or i == 'PASTO' or i == 'LA UNION' or i == 'JAMUNDI' or i == 'POPAYAN' or i == 'ANSERMANUEVO' or i == 'BUENAVENTURA' or i == 'EL TAMBO' or i == 'SEVILLA' or i == 'BUGALAGRANDE' or i == 'PUERTO TEJADA' or i == 'CAJIBIO' or i == 'TANGUA' or i == 'ZARZAL' or i == 'ROLDANILLO' or i == 'PRADERA' or i == 'CALOTO':
    region.append('SUROCCIDENTE')
  else:
    region.append('COSTA CARIBE')
datos['Región'] = region

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4200 entries, 0 to 4199
Data columns (total 61 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Número Nacional de Identidad              4200 non-null   int64
 1   Nombre Empresa                            4200 non-null   object
 2   Año                                       4200 non-null   int64
 3   Edad Años                                 4200 non-null   int64
 4   Tamaño                                    4200 non-null   object
 5   NACE Rev. 2 Código principal (2 digitos)  4200 non-null   int64
 6   Código de consolidación                   4200 non-null   object
 7   Número de empleados 2021                  4200 non-null   object
 8   Región                                    4200 non-null   object
 9   Ciudad                                    4200 non-null   object
 10  Activos fijos                             4160 non-null   float64
 11  Otros activos fijos                       4200 non-null   object
 12  Activo circulante                         4200 non-null   object
 13  Valores                                   4200 non-null   object
 14  Deudores                                  4200 non-null   object
 15  Otros activos corrientes                  4200 non-null   object
 16  Efectivo y equivalentes de efectivo       4200 non-null   object
 17  Activos totales                           4200 non-null   float64
 18  Fondos de los accionistas                 4200 non-null   object
 19  Capital                                   4200 non-null   object
 20  Otros accionistas de fondos               4200 non-null   object
 21  Pasivos no corrientes                     4200 non-null   object
 22  Deuda a largo plazo                       4200 non-null   object
 23  Otros pasivos no corrientes               4200 non-null   object
 24  Pasivos corrientes                        4200 non-null   object
 25  Provisiones                               4200 non-null   object
 26  Deudas a corto plazo                      4200 non-null   object
 27  Préstamos                                 4200 non-null   object
 28  Acreedores                                4200 non-null   object
 29  Otros pasivos circulantes                 4200 non-null   object
 30  Pasivo total                              4200 non-null   object
 31  Total pasivo + Total patrimonio           4200 non-null   object
 32  Ingresos explotación (Cifra ventas)       4200 non-null   float64
 33  Ingresos de explotación (UVT)             4200 non-null   float64
 34  Ventas                                    4200 non-null   object
 35  Costes de los bienes vendidos             4200 non-null   float64
 36  Beneficio bruto                           4200 non-null   object
 37  Otros gastos de explotación               4200 non-null   object
 38  P/G operacionales [=EBIT]                 4200 non-null   object
 39  P&G Financieras                           4200 non-null   object
 40  Ingresos financieros                      4200 non-null   float64
 41  Gastos financieros                        4200 non-null   float64
 42  Result. ordinarios antes impuestos        4200 non-null   object
 43  Impuestos                                 4200 non-null   object
 44  Resultado actividades ordinarias          4200 non-null   object
 45  Extr. y otros P&G                         4200 non-null   object
 46  Extr. y otros ingresos                    4200 non-null   object
 47  Extr. y otros gastos                      4200 non-null   object
 48  P/G por periodo [=ingresos netos]         4200 non-null   object
 49  Intensidad tecnológica                    4200 non-null   object
 50  Holgura financiera                        4200 non-null   object
 51  Apalancamiento                            4200 non-null   object
 52  Presión financiera                        4200 non-null   object
 53  Solvencia                                 4200 non-null   object
 54  Holgura potencial                         4200 non-null   object
 55  Cash flow                                 4200 non-null   object
 56  ROA                                       4200 non-null   object
 57  R_1                                       4200 non-null   object
 58  R_2                                       4200 non-null   object
 59  R_3                                       4200 non-null   object
 60  R_4                                       4200 non-null   object
dtypes: float64(7), int64(4), object(50)
memory usage: 2.0+ MB

In [ ]:
# valor añadido bruto
valor = []
for indice in rango:
  if datos.loc[indice, 'Otros gastos de explotación'] == 'n.d.':
    añadi = float(datos.loc[indice, 'Ingresos explotación (Cifra ventas)']) - float(datos.loc[indice, 'Costes de los bienes vendidos'])
    valor.append(añadi)
  else:
    añadi = float(datos.loc[indice, 'Ingresos explotación (Cifra ventas)']) - float(datos.loc[indice, 'Costes de los bienes vendidos'])-float(datos.loc[indice, 'Otros gastos de explotación'])
    valor.append(añadi)

In [ ]:
len(valor)

4200

In [ ]:
datos['Valor añadido'] = valor

In [ ]:
datos.head()

,Número Nacional de Identidad,Nombre Empresa,Año,Edad Años,Tamaño,NACE Rev. 2 Código principal (2 digitos),Código de consolidación,Número de empleados 2021,Región,Ciudad,...,Presión financiera,Solvencia,Holgura potencial,Cash flow,ROA,R_1,R_2,R_3,R_4,Valor añadido
0,9004719349,A ABACHAR COMERCIALIZADORA S A S,2016,10,Pequeña Empresa,10,U1,n.d.,NOROCCIDENTE,MEDELLIN,...,0,1.87792,n.d.,0.041973,0.041973,0,1,0,0,33150.919
1,9004719349,A ABACHAR COMERCIALIZADORA S A S,2017,10,Pequeña Empresa,10,U1,n.d.,NOROCCIDENTE,MEDELLIN,...,0,1.900797,n.d.,0.036525,0.036525,0,1,0,0,19566.651
2,9004719349,A ABACHAR COMERCIALIZADORA S A S,2018,10,Pequeña Empresa,10,U1,n.d.,NOROCCIDENTE,MEDELLIN,...,0,2.113039,n.d.,0.023574,0.023574,0,1,0,0,1330938.000
3,9004719349,A ABACHAR COMERCIALIZADORA S A S,2019,10,Pequeña Empresa,10,U1,n.d.,NOROCCIDENTE,MEDELLIN,...,0,2.682331,n.d.,0.059461,0.059461,0,0,1,0,1123294.606
4,9004719349,A ABACHAR COMERCIALIZADORA S A S,2020,10,Pequeña Empresa,10,U1,n.d.,NOROCCIDENTE,MEDELLIN,...,0,2.300502,n.d.,0.070648,0.070648,0,0,1,0,34253.000

In [ ]:
# para calcular la desviacion estandar del ROA:
statistics.stdev(datos['ROA'])

2.9378322829331225

In [ ]:
datos.to_excel(r'consolidado 10 y 11 con nuevas variables.xlsx', index=False)