In [ ]:
# Importamos las distintas librerias que vamos a utilizar:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
from scipy import stats
import scipy
import statsmodels.api as sm
import statsmodels.formula.api as smf
import plotly
%matplotlib inline
from sklearn.metrics import r2_score

In [ ]:
datos = pd.read_excel('consolidado definitivo 10 y 11.xlsx')
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26190 entries, 0 to 26189
Data columns (total 44 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Nombre Empresa                            26190 non-null  object
 1   Año                                       26190 non-null  int64
 2   País ISO Código                           26190 non-null  object
 3   NACE Rev. 2 Código principal (4 digitos)  26190 non-null  int64
 4   Código de consolidación                   26190 non-null  object
 5   Número de empleados 2021                  26190 non-null  object
 6   Ciudad                                    26190 non-null  object
 7   Número Nacional de Identidad              26190 non-null  int64
 8   Activos fijos                             26190 non-null  object
 9   Otros activos fijos                       26190 non-null  object
 10  Activo circulante                         26190 non-null  object
 11  Valores                                   26190 non-null  object
 12  Deudores                                  26190 non-null  object
 13  Otros activos corrientes                  26190 non-null  object
 14  Efectivo y equivalentes de efectivo       26190 non-null  object
 15  Activos totales                           26190 non-null  object
 16  Fondos de los accionistas                 26190 non-null  object
 17  Capital                                   26190 non-null  object
 18  Otros accionistas de fondos               26190 non-null  object
 19  Pasivos no corrientes                     26190 non-null  object
 20  Deuda a largo plazo                       26190 non-null  object
 21  Otros pasivos no corrientes               26190 non-null  object
 22  Provisiones                               26190 non-null  object
 23  Deudas a corto plazo                      26190 non-null  object
 24  Préstamos                                 26190 non-null  object
 25  Acreedores                                26190 non-null  object
 26  Otros pasivos circulantes                 26190 non-null  object
 27  Total pasivo                              26190 non-null  object
 28  Ingresos explotación (Cifra ventas)       26190 non-null  object
 29  Venta                                     26190 non-null  object
 30  Costes de los bienes vendidos             26190 non-null  object
 31  Beneficio bruto                           26190 non-null  object
 32  Otros gastos de explotación               26190 non-null  object
 33  P/G operacionales [=EBIT]                 26190 non-null  object
 34  P&G Financieras                           26190 non-null  object
 35  Ingresos financieros                      26190 non-null  object
 36  Gastos financieros                        26190 non-null  object
 37  Result. ordinarios antes impuestos        26190 non-null  object
 38  Impuestos                                 26190 non-null  object
 39  Resultado actividades ordinarias          26190 non-null  object
 40  Extr. y otros P&G                         26190 non-null  object
 41  Extr. y otros ingresos                    26190 non-null  object
 42  Extr. y otros gastos                      26190 non-null  object
 43  P/G por periodo [=ingresos netos]         26190 non-null  object
dtypes: int64(3), object(41)
memory usage: 8.8+ MB

In [ ]:
empresas_10 = 0
empresas_11 = 0
for codigo in datos['NACE Rev. 2 Código principal (4 digitos)']:
  if codigo < 1100:
    empresas_10 =empresas_10+1
  elif codigo >= 1100:
    empresas_11=empresas_11+1

In [ ]:
empresas_10

16188

In [ ]:
empresas_11

10002

In [ ]:
datos['Nombre Empresa'].value_counts()

2 L S S A S                                           6
MONCALIERI MADRILENA S A S                            6
MONTANA REYES CESAR ANDRES                            6
MONTANA PASTELERIA & CAFE SAS                         6
MONTANA MOSQUERA JESUS ALONSO                         6
                                                     ..
EMBUTIDOS ANTIOQUENO S A S                            6
EMBOTELLADORA MANANTIALES OASIS FRESH S A S           6
EMBOTELLADORA LOS ANGELES AGUA POTABLE TRATADA SAS    6
EMBOTELLADORA LIGERA S A S                            6
ZUVIETA BUITRAGO CARLOS ARTURO                        6
Name: Nombre Empresa, Length: 5565, dtype: int64

In [ ]:
# Creamos una nuevo Dataframe que mostrará cuantas variables en blanco tiene cada empresa
valores_en_blanco_pre = pd.DataFrame()

In [ ]:
empresas = []
año = []
blancos = []
rango = range(len(datos.index))
for indice in rango:
  contador = 0
  empresas.append(datos.loc[indice, "Nombre Empresa"])
  año.append(datos.loc[indice, "Año"])
  for columna in datos:
    if datos.loc[indice, columna] == 'n.d.' or datos.loc[indice, columna] == 'n.s.' or pd.isnull(datos.loc[indice, columna]) == True:
      contador = contador +1
  blancos.append(contador)
valores_en_blanco_pre["Nombre Empresa"] = empresas
valores_en_blanco_pre["Año"] = año
valores_en_blanco_pre["Variables en blanco"] = blancos

In [ ]:
valores_en_blanco_pre.tail(12)

                       Nombre Empresa   Año  Variables en blanco
33378    ZUPRA REPRESENTACIONES S A S  2016                   48
33379    ZUPRA REPRESENTACIONES S A S  2017                   48
33380    ZUPRA REPRESENTACIONES S A S  2018                   25
33381    ZUPRA REPRESENTACIONES S A S  2019                   23
33382    ZUPRA REPRESENTACIONES S A S  2020                   31
33383    ZUPRA REPRESENTACIONES S A S  2021                   28
33384  ZUVIETA BUITRAGO CARLOS ARTURO  2016                   51
33385  ZUVIETA BUITRAGO CARLOS ARTURO  2017                   44
33386  ZUVIETA BUITRAGO CARLOS ARTURO  2018                   44
33387  ZUVIETA BUITRAGO CARLOS ARTURO  2019                   34
33388  ZUVIETA BUITRAGO CARLOS ARTURO  2020                   34
33389  ZUVIETA BUITRAGO CARLOS ARTURO  2021                   34

In [ ]:
#sumamos el total de valores en blanco para cada empresa
nit_0 = valores_en_blanco_pre.loc[0, "Nombre Empresa"]
nuevo_ceros=[]
suma = 0
for indice in rango:
  nit_1 = valores_en_blanco_pre.loc[indice, "Nombre Empresa"]
  if indice != len(datos.index)-1:
    if nit_1 == nit_0:
      suma = suma + valores_en_blanco_pre.loc[indice, "Variables en blanco"]
      nit_0 = valores_en_blanco_pre.loc[indice, "Nombre Empresa"]
    else:
      nuevo_ceros.append(suma)
      suma = valores_en_blanco_pre.loc[indice, "Variables en blanco"]
      nit_0 = valores_en_blanco_pre.loc[indice, "Nombre Empresa"]
  else:
    suma = suma + valores_en_blanco_pre.loc[indice, "Variables en blanco"]
    nuevo_ceros.append(suma)

In [ ]:
valores_en_blanco = pd.DataFrame()

In [ ]:
valores_en_blanco["Nombre Empresa"]=list(set(valores_en_blanco_pre["Nombre Empresa"]))

In [ ]:
valores_en_blanco["Total"]=nuevo_ceros

In [ ]:
valores_en_blanco

                             Nombre Empresa  Total
0                        EDA COLOMBIA S A S    335
1                COLOMBIAN FRESH FOOD S A S    179
2              FORERO BENITEZ CARLOS FABIAN    157
3                VERGARA GUIRAL JUAN CAMILO    260
4        SANTANDER DE VASQUEZ GLORIA ALICIA    335
...                                     ...    ...
5560          MORENO PAZMINO DIEGO FERNANDO    329
5561                  H R G INGENIERIA LTDA    282
5562  TECNOLOGIAS EN NUTRICION ORGANICA S A    331
5563            INVERSIONES DEL NORTE S A S    203
5564           HERRERA RAIGOSA HERNAN DARIO    241

[5565 rows x 2 columns]