In [ ]:
# Importamos las distintas librerias que vamos a utilizar:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
from scipy import stats
import scipy
import statsmodels.api as sm
import statsmodels.formula.api as smf
import plotly
%matplotlib inline
from sklearn.metrics import r2_score
import statistics

In [ ]:
datos = pd.read_excel('panel deflactado depurado.xlsx')
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428 entries, 0 to 1427
Columns: 404 entries, CO-NIT to Tamaño
dtypes: float64(251), int64(112), object(41)
memory usage: 4.4+ MB

In [ ]:
rango = range(len(datos.index))

In [ ]:
# Eliminar aquellas empresas que tienen 0 en Costo de mercancias vendidas para al menos un año
nombres_cost = []
for indice in rango:
  if datos.loc[indice, 'Costo de mercancías vendidas (deflactado)'] == 0:
    nombres_cost.append(datos.loc[indice, 'CO-NIT'])

In [ ]:
a_eliminar_cost=list(set(nombres_cost))

In [ ]:
indice = 0
for nit in datos['CO-NIT']:
  if nit in a_eliminar_cost:
    datos = datos.drop(index = indice)
  indice = indice +1

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3270 entries, 0 to 3269
Columns: 404 entries, CO-NIT to Tamaño
dtypes: float64(259), int64(104), object(41)
memory usage: 10.1+ MB

In [ ]:
# Eliminar aquellas empresas que tienen 0 en Gastos de venta y distribución (deflactado) para al menos un año
nombres_gastven = []
for indice in rango:
  if datos.loc[indice, 'Gastos de venta y distribución (deflactado)'] == 0:
    nombres_gastven.append(datos.loc[indice, 'CO-NIT'])

In [ ]:
a_eliminar_gastven=list(set(nombres_gastven))

In [ ]:
indice = 0
for nit in datos['CO-NIT']:
  if nit in a_eliminar_gastven:
    datos = datos.drop(index = indice)
  indice = indice +1

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1758 entries, 0 to 3263
Columns: 404 entries, CO-NIT to Tamaño
dtypes: float64(259), int64(104), object(41)
memory usage: 5.5+ MB

In [ ]:
# Eliminar aquellas empresas que tienen 0 en Gastos administrativos (deflactado) para al menos un año
nombres_gastadm = []
for indice in rango:
  if datos.loc[indice, 'Gastos administrativos (deflactado)'] == 0:
    nombres_gastadm.append(datos.loc[indice, 'CO-NIT'])

In [ ]:
a_eliminar_gastadm=list(set(nombres_gastadm))

In [ ]:
indice = 0
for nit in datos['CO-NIT']:
  if nit in a_eliminar_gastadm:
    datos = datos.drop(index = indice)
  indice = indice +1

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428 entries, 0 to 1427
Columns: 404 entries, CO-NIT to Tamaño
dtypes: float64(251), int64(112), object(41)
memory usage: 4.4+ MB

In [ ]:
# Eliminar aquellas empresas que tienen 0 en Activos Corrientes (deflactado) para al menos un año
nombres_act = []
for indice in rango:
  if datos.loc[indice, 'Activos Corrientes (deflactado)'] == 0:
    nombres_act.append(datos.loc[indice, 'CO-NIT'])

In [ ]:
a_eliminar_act=list(set(nombres_act))

In [ ]:
indice = 0
for nit in datos['CO-NIT']:
  if nit in a_eliminar_act:
    datos = datos.drop(index = indice)
  indice = indice +1

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428 entries, 0 to 1427
Columns: 404 entries, CO-NIT to Tamaño
dtypes: float64(251), int64(112), object(41)
memory usage: 4.4+ MB

In [ ]:
# Eliminar aquellas empresas que tienen 0 en Ingresos netos por ventas (deflactado) para al menos un año
nombres_ing = []
for indice in rango:
  if datos.loc[indice, 'Ingresos netos por ventas (deflactado)'] == 0:
    nombres_ing.append(datos.loc[indice, 'CO-NIT'])

In [ ]:
a_eliminar_ing=list(set(nombres_ing))

In [ ]:
indice = 0
for nit in datos['CO-NIT']:
  if nit in a_eliminar_ing:
    datos = datos.drop(index = indice)
  indice = indice +1

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428 entries, 0 to 1427
Columns: 404 entries, CO-NIT to Tamaño
dtypes: float64(251), int64(112), object(41)
memory usage: 4.4+ MB

In [ ]:
# Contar cuantas empresas hay por sector
sector = datos['Sector Específico'].tolist()
sector_edit = []
for i in sector:
  division = i.split('; ')
  for a in division:
    sector_edit.append(a)
sector_norep = list(set(sector_edit))
aparicio = []
for a in sector_norep:
  num = sector_edit.count(a)
  aparicio.append([a, num])

In [ ]:
len(aparicio)

25

In [ ]:
aparicio

[['Elaboración De Otros Productos Alimenticios N.C.P. (C1089)', 168],
 ['Elaboración De Panela (C1072)', 24],
 ['Elaboración De Cacao, Chocolate Y Productos De Confitería (C1082)', 36],
 ['Procesamiento Y Conservación De Frutas, Legumbres, Hortalizas Y Tubérculos (C1020)',
  54],
 ['Elaboración De Comidas Y Platos Preparados (C1084)', 6],
 ['Procesamiento Y Conservación De Pescados, Crustáceos Y Moluscos (C1012)',
  36],
 ['Descafeinado, Tostión Y Molienda Del Café (C1062)', 48],
 ['Elaboración De Bebidas Fermentadas No Destiladas (C1102)', 6],
 ['Elaboración De Alimentos Preparados Para Animales (C1090)', 90],
 ['Elaboración De Almidones Y Productos Derivados Del Almidón (C1052)', 6],
 ['Elaboración De Productos De Panadería (C1081)', 150],
 ['Elaboración De Aceites Y Grasas De Origen Animal (C1033)', 6],
 ['Elaboración De Productos De Molinería (C1051)', 174],
 ['Elaboración De Aceites Y Grasas De Origen Vegetal Refinados (C1032)', 18],
 ['Otros Derivados Del Café (C1063)', 12],
 ['Elaboración De Bebidas (C110)', 6],
 ['Procesamiento Y Conservación De Carne Y Productos Cárnicos (C1011)', 204],
 ['Trilla De Café (C1061)', 30],
 ['Elaboración De Bebidas No Alcohólicas, Producción De Aguas Minerales Y De Otras Aguas Embotelladas (C1104)',
  78],
 ['Elaboración Y Refinación De Azúcar (C1071)', 42],
 ['Elaboración De Aceites Y Grasas De Origen Vegetal Y Animal (C103)', 72],
 ['Elaboración De Productos Lácteos (C1040)', 186],
 ['Extracción De Aceites De Origen Vegetal Crudos (C1031)', 18],
 ['Elaboración De Macarrones, Fideos, Alcuzcuz Y Productos Farináceos Similares (C1083)',
  30],
 ['Destilación, Rectificación Y Mezcla De Bebidas Alcohólicas (C1101)', 12]]

In [ ]:
#Función para dejar en la base de datos solo las empresas de un sector específico (teniendo en cuenta los primeros 3 números del código CIUU)
eliminar = []
ind = 0
for sec in datos['Sector Específico']:
  if 'C104' not in sec:                     # para decidir qué sector se quiere tener, se debe cambiar lo que esta entre comillas
    eliminar.append(datos.loc[ind, 'CO-NIT'])
  ind= ind + 1
a_eliminar=list(set(eliminar))
indice = 0
for nit in datos['CO-NIT']:
  if nit in a_eliminar:
    datos = datos.drop(index = indice)
  indice = indice +1

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186 entries, 90 to 1409
Columns: 404 entries, CO-NIT to Tamaño
dtypes: float64(251), int64(112), object(41)
memory usage: 588.5+ KB

In [ ]:
datos.to_excel(r'consolidado 10 y 11 con nuevas variables.xlsx', index=False)