In [ ]:
# Importamos las distintas librerias que vamos a utilizar:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
from scipy import stats
import scipy
import statsmodels.api as sm
import statsmodels.formula.api as smf
import plotly
%matplotlib inline
from sklearn.metrics import r2_score

In [ ]:
# Importamos la base de datos
datos = pd.read_excel('Combinacion Estado de Resultados y Estado de Situacion Financiera (1).xlsx')
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5100 entries, 0 to 5099
Data columns (total 86 columns):
 #   Column                                                                                                                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                  --------------  -----
 0   NIT                                                                                                                                                                                                                     5100 non-null   int64
 1   Razón social de la sociedad                                                                                                                                                                                             5100 non-null   object
 2   Edad (años)                                                                                                                                                                                                             4974 non-null   float64
 3   Fecha de Corte                                                                                                                                                                                                          5100 non-null   datetime64[ns]
 4   Clasificación Industrial Internacional Uniforme Versión 4 A.C                                                                                                                                                           5100 non-null   object
 5   CIIU                                                                                                                                                                                                                    5100 non-null   object
 6   Efectivo y equivalentes al efectivo                                                                                                                                                                                     5100 non-null   int64
 7   Cuentas comerciales por cobrar y otras cuentas por cobrar corrientes                                                                                                                                                    5100 non-null   int64
 8   Inventarios corrientes                                                                                                                                                                                                  5100 non-null   int64
 9   Activos por impuestos corrientes corriente                                                                                                                                                                              5100 non-null   int64
 10  Activos biológicos corrientes al costo menos depreciación acumulada y deterioro de valor                                                                                                                                5100 non-null   int64
 11  Activos biológicos corrientes al valor razonable                                                                                                                                                                        5100 non-null   int64
 12  Otros activos financieros corrientes                                                                                                                                                                                    5100 non-null   int64
 13  Otros activos no financieros corrientes                                                                                                                                                                                 5100 non-null   int64
 14  Activos corrientes distintos al efectivo pignorados como garantía colateral para las que el receptor de transferencias tiene derecho por contrato o costumbre a vender o pignorar de nuevo dicha garantía colateral     5100 non-null   int64
 15  Total activos corrientes distintos de los activos no corrientes o grupo de activos para su disposición clasificados como mantenidos para la venta o como mantenidos para distribuir a los propietarios                  5100 non-null   int64
 16  Activos no corrientes o grupos de activos para su disposición clasificados como mantenidos para la venta o como mantenidos para distribuir a los propietarios                                                           5100 non-null   int64
 17  Activos corrientes totales                                                                                                                                                                                              5100 non-null   int64
 18  Propiedades planta y equipo                                                                                                                                                                                             5100 non-null   int64
 19  Propiedades de inversión al costo menos depreciación acumulada y deterioro                                                                                                                                              5100 non-null   int64
 20  Propiedades de inversión a valor razonable con cambios en resultados                                                                                                                                                    5100 non-null   int64
 21  Plusvalía                                                                                                                                                                                                               5100 non-null   int64
 22  Activos intangibles distintos de la plusvalía                                                                                                                                                                           5100 non-null   int64
 23  Activos biológicos no corrientes al costo menos depreciación acumulada y deterioro del valor                                                                                                                            5100 non-null   int64
 24  Activos biológicos no corrientes al valor razonable                                                                                                                                                                     5100 non-null   int64
 25  Cuentas comerciales por cobrar y otras cuentas por cobrar no corrientes                                                                                                                                                 5100 non-null   int64
 26  Inventarios no corrientes                                                                                                                                                                                               5100 non-null   int64
 27  Activos por impuestos diferidos                                                                                                                                                                                         5100 non-null   int64
 28  Activos por impuestos corrientes no corriente                                                                                                                                                                           5100 non-null   int64
 29  Otros activos financieros no corrientes                                                                                                                                                                                 5100 non-null   int64
 30  Otros activos no financieros no corrientes                                                                                                                                                                              5100 non-null   int64
 31  Activos no corrientes distintos al efectivo pignorados como garantía colateral para las que el receptor de transferencias tiene derecho por contrato o costumbre a vender o pignorar de nuevo dicha garantía colateral  5100 non-null   int64
 32  Total de activos no corrientes                                                                                                                                                                                          5100 non-null   int64
 33  Total de activos                                                                                                                                                                                                        5100 non-null   int64
 34  Provisiones corrientes por beneficios a los empleados                                                                                                                                                                   5100 non-null   int64
 35  Otras provisiones corrientes                                                                                                                                                                                            5100 non-null   int64
 36  Total provisiones corrientes                                                                                                                                                                                            5100 non-null   int64
 37  Cuentas por pagar comerciales y otras cuentas por pagar                                                                                                                                                                 5100 non-null   int64
 38  Pasivos por impuestos corrientes corriente                                                                                                                                                                              5100 non-null   int64
 39  Otros pasivos financieros corrientes                                                                                                                                                                                    5100 non-null   int64
 40  Préstamos corrientes                                                                                                                                                                                                    5100 non-null   int64
 41  Parte corriente de préstamos no corrientes                                                                                                                                                                              5100 non-null   int64
 42  Otros pasivos no financieros corrientes                                                                                                                                                                                 5100 non-null   int64
 43  Total pasivos corrientes distintos de los pasivos incluidos en grupos de activos para su disposición clasificados como mantenidos para la venta                                                                         5100 non-null   int64
 44  Pasivos incluidos en grupos de activos para su disposición clasificados como mantenidos para la venta                                                                                                                   5100 non-null   int64
 45  Pasivos corrientes totales                                                                                                                                                                                              5100 non-null   int64
 46  Provisiones no corrientes por beneficios a los empleados                                                                                                                                                                5100 non-null   int64
 47  Otras provisiones no corrientes                                                                                                                                                                                         5100 non-null   int64
 48  Total provisiones no corrientes                                                                                                                                                                                         5100 non-null   int64
 49  Cuentas comerciales por pagar y otras cuentas por pagar no corrientes                                                                                                                                                   5100 non-null   int64
 50  Pasivo por impuestos diferidos                                                                                                                                                                                          5100 non-null   int64
 51  Pasivos por impuestos corrientes no corriente                                                                                                                                                                           5100 non-null   int64
 52  Otros pasivos financieros no corrientes                                                                                                                                                                                 5100 non-null   int64
 53  Parte no corriente de préstamos no corrientes                                                                                                                                                                           5100 non-null   int64
 54  Otros pasivos no financieros no corrientes                                                                                                                                                                              5100 non-null   int64
 55  Total de pasivos no corrientes                                                                                                                                                                                          5100 non-null   int64
 56  Total pasivos                                                                                                                                                                                                           5100 non-null   int64
 57  Capital emitido                                                                                                                                                                                                         5100 non-null   int64
 58  Prima de emisión                                                                                                                                                                                                        5100 non-null   int64
 59  Acciones propias en cartera                                                                                                                                                                                             5100 non-null   int64
 60  Inversión suplementaria al capital asignado                                                                                                                                                                             5100 non-null   int64
 61  Otras participaciones en el patrimonio                                                                                                                                                                                  5100 non-null   int64
 62  Superavit por revaluación                                                                                                                                                                                               5100 non-null   int64
 63  Otras reservas                                                                                                                                                                                                          5100 non-null   int64
 64  Ganancias acumuladas                                                                                                                                                                                                    5100 non-null   int64
 65  Patrimonio total                                                                                                                                                                                                        5100 non-null   int64
 66  Total de patrimonio y pasivos                                                                                                                                                                                           5100 non-null   int64
 67  Ingresos de actividades ordinarias                                                                                                                                                                                      5100 non-null   int64
 68  Costo de ventas                                                                                                                                                                                                         5100 non-null   int64
 69  Ganancia bruta                                                                                                                                                                                                          5100 non-null   int64
 70  Otros ingresos                                                                                                                                                                                                          5100 non-null   int64
 71  Gastos de ventas                                                                                                                                                                                                        5100 non-null   int64
 72  Gastos de administración                                                                                                                                                                                                5100 non-null   int64
 73  Otros gastos                                                                                                                                                                                                            5100 non-null   int64
 74  Otras ganancias (pérdidas)                                                                                                                                                                                              5100 non-null   int64
 75  Ganancia (pérdida) por actividades de operación                                                                                                                                                                         5100 non-null   int64
 76  Ingresos financieros                                                                                                                                                                                                    5100 non-null   int64
 77  Costos financieros                                                                                                                                                                                                      5100 non-null   int64
 78  Ganancia (pérdida) antes de impuestos                                                                                                                                                                                   5100 non-null   int64

In [ ]:
datos.head(10)

,NIT,Razón social de la sociedad,Edad (años),Fecha de Corte,Clasificación Industrial Internacional Uniforme Versión 4 A.C,CIIU,Efectivo y equivalentes al efectivo,Cuentas comerciales por cobrar y otras cuentas por cobrar corrientes,Inventarios corrientes,Activos por impuestos corrientes corriente,...,Ingresos financieros,Costos financieros,Ganancia (pérdida) antes de impuestos,Ingreso (gasto) por impuestos,Ganancia (pérdida) procedente de operaciones continuadas,Ganancia (pérdida) procedente de operaciones discontinuadas,Ganancia (pérdida),Valor en UVT,Clasificacion,Ingresos por actividades ordinarias (UVT)
0,800000313,PELANAS SAS,35.0,2016-12-31,C3290 - Otras industrias manufactureras n.c.p.,C32,486893,1070233,1430721,24566,...,140488,362555,70735,53601,17134,0,17134,252.901287,1,252901.287265
1,800000313,PELANAS SAS,35.0,2017-12-31,C3290 - Otras industrias manufactureras n.c.p.,C32,256487,977885,1390910,0,...,13943,215355,36450,24138,12312,0,12312,196.281647,1,196281.647258
2,800000313,PELANAS SAS,35.0,2018-12-31,C3290 - Otras industrias manufactureras n.c.p.,C32,226747,734034,1273600,0,...,3543,176507,-527720,20357,-548077,0,-548077,149.071299,1,149071.299312
3,800000313,PELANAS SAS,35.0,2019-12-31,C3290 - Otras industrias manufactureras n.c.p.,C32,131131,775353,1147456,0,...,0,0,61237,23654,37583,0,37583,120.988970,1,120988.969945
4,800000313,PELANAS SAS,35.0,2020-12-31,C1392 - Confección de artículos con materiales...,C13,228814,697627,1407046,67364,...,16339,159753,28134,7455,20679,0,20679,94.291347,1,94291.347207
5,800000313,PELANAS SAS,35.0,2021-12-31,C1392 - Confección de artículos con materiales...,C13,206483,797972,1474154,38014,...,0,155368,31186,10127,21059,0,21059,118.475846,1,118475.845544
6,800001161,INVERSIONES CONAVEL Y ASOCIADOS S.A.S. EN REO...,35.0,2016-12-31,"C1410 - Confección de prendas de vestir, excep...",C14,0,2159188,1253790,35779,...,39342,6170,-225309,0,-225309,0,-225309,9.658354,1,9658.353779
7,800001161,INVERSIONES CONAVEL Y ASOCIADOS S.A.S. EN REO...,35.0,2017-12-31,"C1410 - Confección de prendas de vestir, excep...",C14,1735,2025998,1253790,14460,...,42368,7998,-47684,0,-47684,0,-47684,2.644622,1,2644.621614
8,800001161,INVERSIONES CONAVEL Y ASOCIADOS S.A.S. EN REO...,35.0,2018-12-31,"C1410 - Confección de prendas de vestir, excep...",C14,191784,2361124,1253790,0,...,19192,1651,32926,0,32926,0,32926,5.230396,1,5230.395705
9,800001161,INVERSIONES CONAVEL Y ASOCIADOS S.A.S. EN REO...,35.0,2019-12-31,"C1410 - Confección de prendas de vestir, excep...",C14,192030,2834922,1253960,0,...,0,196,13188,0,13188,0,13188,7.224861,1,7224.861395

In [ ]:
pd.options.display.max_rows = 4000

In [ ]:
print(datos.loc[6, "NIT"])

800001161

In [ ]:
# Con esta funcion puedo ver qué empresas y en que año reportan un valor de 0 para una variable especifica
def valores_raros(columna):
  resultado = []
  indice = 0
  for val in datos[columna]:
    if val == 0:
      adjuntar = [datos.loc[indice, "NIT"], datos.loc[indice, "Fecha de Corte"], indice]
      resultado.append(adjuntar)
    indice = indice + 1
  return resultado

In [ ]:
valores_raros("Ingresos de actividades ordinarias")
#Eliminamos estas empresas del excel, puesto que son las que tienen ingresos de actividades ordinarias = 0

[]

In [ ]:
# Todas las empresas son del sector manufacturero
datos["CIIU"].value_counts()

C10    930
C22    629
C20    534
C14    531
C25    303
C18    258
C23    210
C28    198
C13    181
C21    180
C32    168
C17    137
C27    131
C15    125
C31    121
C29    100
C33     95
C24     81
C19     59
C16     54
C11     44
C26     20
C30     11
Name: CIIU, dtype: int64

In [ ]:
# Creamos la variable "Tamaño":
tamaño = []
for i in datos['Ingresos por actividades ordinarias (UVT)']:
  if i <= 23563:
    tamaño.append('Microempresa')
  elif  204995 >= i > 23563:
    tamaño.append('Pequeña Empresa')
  elif  1736565 >= i > 204995:
    tamaño.append('Mediana Empresa')
  else:
    tamaño.append('Gran Empresa')
datos['Tamaño'] = tamaño

In [ ]:
# Número de empresas por tamaño
datos["Tamaño"].value_counts()
# Aparentemente hay 369 registros de empresas que no entran en ninguna de las tres categorías.
# Si esto no es por un error de cálculo, deberían eliminarse esas empresas.

Mediana Empresa    3680
Pequeña Empresa    1000
Gran Empresa        369
Microempresa         51
Name: Tamaño, dtype: int64

In [ ]:
datos.to_excel(r'C:\Users\mrodr\Downloads\Panel Completo.xlsx', index=False)

In [ ]:
# Importamos el panel completo
panel = pd.read_excel('Panel Completo.xlsx')
panel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5100 entries, 0 to 5099
Data columns (total 86 columns):
 #   Column                                                                                                                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                  --------------  -----
 0   NIT                                                                                                                                                                                                                     5100 non-null   int64
 1   Razón social de la sociedad                                                                                                                                                                                             5100 non-null   object
 2   Edad (años)                                                                                                                                                                                                             4974 non-null   float64
 3   Fecha de Corte                                                                                                                                                                                                          5100 non-null   datetime64[ns]
 4   Clasificación Industrial Internacional Uniforme Versión 4 A.C                                                                                                                                                           5100 non-null   object
 5   CIIU                                                                                                                                                                                                                    5100 non-null   object
 6   Efectivo y equivalentes al efectivo                                                                                                                                                                                     5100 non-null   int64
 7   Cuentas comerciales por cobrar y otras cuentas por cobrar corrientes                                                                                                                                                    5100 non-null   int64
 8   Inventarios corrientes                                                                                                                                                                                                  5100 non-null   int64
 9   Activos por impuestos corrientes corriente                                                                                                                                                                              5100 non-null   int64
 10  Activos biológicos corrientes al costo menos depreciación acumulada y deterioro de valor                                                                                                                                5100 non-null   int64
 11  Activos biológicos corrientes al valor razonable                                                                                                                                                                        5100 non-null   int64
 12  Otros activos financieros corrientes                                                                                                                                                                                    5100 non-null   int64
 13  Otros activos no financieros corrientes                                                                                                                                                                                 5100 non-null   int64
 14  Activos corrientes distintos al efectivo pignorados como garantía colateral para las que el receptor de transferencias tiene derecho por contrato o costumbre a vender o pignorar de nuevo dicha garantía colateral     5100 non-null   int64
 15  Total activos corrientes distintos de los activos no corrientes o grupo de activos para su disposición clasificados como mantenidos para la venta o como mantenidos para distribuir a los propietarios                  5100 non-null   int64
 16  Activos no corrientes o grupos de activos para su disposición clasificados como mantenidos para la venta o como mantenidos para distribuir a los propietarios                                                           5100 non-null   int64
 17  Activos corrientes totales                                                                                                                                                                                              5100 non-null   int64
 18  Propiedades planta y equipo                                                                                                                                                                                             5100 non-null   int64
 19  Propiedades de inversión al costo menos depreciación acumulada y deterioro                                                                                                                                              5100 non-null   int64
 20  Propiedades de inversión a valor razonable con cambios en resultados                                                                                                                                                    5100 non-null   int64
 21  Plusvalía                                                                                                                                                                                                               5100 non-null   int64
 22  Activos intangibles distintos de la plusvalía                                                                                                                                                                           5100 non-null   int64
 23  Activos biológicos no corrientes al costo menos depreciación acumulada y deterioro del valor                                                                                                                            5100 non-null   int64
 24  Activos biológicos no corrientes al valor razonable                                                                                                                                                                     5100 non-null   int64
 25  Cuentas comerciales por cobrar y otras cuentas por cobrar no corrientes                                                                                                                                                 5100 non-null   int64
 26  Inventarios no corrientes                                                                                                                                                                                               5100 non-null   int64
 27  Activos por impuestos diferidos                                                                                                                                                                                         5100 non-null   int64
 28  Activos por impuestos corrientes no corriente                                                                                                                                                                           5100 non-null   int64
 29  Otros activos financieros no corrientes                                                                                                                                                                                 5100 non-null   int64
 30  Otros activos no financieros no corrientes                                                                                                                                                                              5100 non-null   int64
 31  Activos no corrientes distintos al efectivo pignorados como garantía colateral para las que el receptor de transferencias tiene derecho por contrato o costumbre a vender o pignorar de nuevo dicha garantía colateral  5100 non-null   int64
 32  Total de activos no corrientes                                                                                                                                                                                          5100 non-null   int64
 33  Total de activos                                                                                                                                                                                                        5100 non-null   int64
 34  Provisiones corrientes por beneficios a los empleados                                                                                                                                                                   5100 non-null   int64
 35  Otras provisiones corrientes                                                                                                                                                                                            5100 non-null   int64
 36  Total provisiones corrientes                                                                                                                                                                                            5100 non-null   int64
 37  Cuentas por pagar comerciales y otras cuentas por pagar                                                                                                                                                                 5100 non-null   int64
 38  Pasivos por impuestos corrientes corriente                                                                                                                                                                              5100 non-null   int64
 39  Otros pasivos financieros corrientes                                                                                                                                                                                    5100 non-null   int64
 40  Préstamos corrientes                                                                                                                                                                                                    5100 non-null   int64
 41  Parte corriente de préstamos no corrientes                                                                                                                                                                              5100 non-null   int64
 42  Otros pasivos no financieros corrientes                                                                                                                                                                                 5100 non-null   int64
 43  Total pasivos corrientes distintos de los pasivos incluidos en grupos de activos para su disposición clasificados como mantenidos para la venta                                                                         5100 non-null   int64
 44  Pasivos incluidos en grupos de activos para su disposición clasificados como mantenidos para la venta                                                                                                                   5100 non-null   int64
 45  Pasivos corrientes totales                                                                                                                                                                                              5100 non-null   int64
 46  Provisiones no corrientes por beneficios a los empleados                                                                                                                                                                5100 non-null   int64
 47  Otras provisiones no corrientes                                                                                                                                                                                         5100 non-null   int64
 48  Total provisiones no corrientes                                                                                                                                                                                         5100 non-null   int64
 49  Cuentas comerciales por pagar y otras cuentas por pagar no corrientes                                                                                                                                                   5100 non-null   int64
 50  Pasivo por impuestos diferidos                                                                                                                                                                                          5100 non-null   int64
 51  Pasivos por impuestos corrientes no corriente                                                                                                                                                                           5100 non-null   int64
 52  Otros pasivos financieros no corrientes                                                                                                                                                                                 5100 non-null   int64
 53  Parte no corriente de préstamos no corrientes                                                                                                                                                                           5100 non-null   int64
 54  Otros pasivos no financieros no corrientes                                                                                                                                                                              5100 non-null   int64
 55  Total de pasivos no corrientes                                                                                                                                                                                          5100 non-null   int64
 56  Total pasivos                                                                                                                                                                                                           5100 non-null   int64
 57  Capital emitido                                                                                                                                                                                                         5100 non-null   int64
 58  Prima de emisión                                                                                                                                                                                                        5100 non-null   int64
 59  Acciones propias en cartera                                                                                                                                                                                             5100 non-null   int64
 60  Inversión suplementaria al capital asignado                                                                                                                                                                             5100 non-null   int64
 61  Otras participaciones en el patrimonio                                                                                                                                                                                  5100 non-null   int64
 62  Superavit por revaluación                                                                                                                                                                                               5100 non-null   int64
 63  Otras reservas                                                                                                                                                                                                          5100 non-null   int64
 64  Ganancias acumuladas                                                                                                                                                                                                    5100 non-null   int64
 65  Patrimonio total                                                                                                                                                                                                        5100 non-null   int64
 66  Total de patrimonio y pasivos                                                                                                                                                                                           5100 non-null   int64
 67  Ingresos de actividades ordinarias                                                                                                                                                                                      5100 non-null   int64
 68  Costo de ventas                                                                                                                                                                                                         5100 non-null   int64
 69  Ganancia bruta                                                                                                                                                                                                          5100 non-null   int64
 70  Otros ingresos                                                                                                                                                                                                          5100 non-null   int64
 71  Gastos de ventas                                                                                                                                                                                                        5100 non-null   int64
 72  Gastos de administración                                                                                                                                                                                                5100 non-null   int64
 73  Otros gastos                                                                                                                                                                                                            5100 non-null   int64
 74  Otras ganancias (pérdidas)                                                                                                                                                                                              5100 non-null   int64
 75  Ganancia (pérdida) por actividades de operación                                                                                                                                                                         5100 non-null   int64
 76  Ingresos financieros                                                                                                                                                                                                    5100 non-null   int64
 77  Costos financieros                                                                                                                                                                                                      5100 non-null   int64
 78  Ganancia (pérdida) antes de impuestos                                                                                                                                                                                   5100 non-null   int64

In [ ]:
# Revisemos algunas de las variables categóricas:
panel["Tamaño"].value_counts()

Mediana Empresa    3680
Pequeña Empresa    1000
Gran Empresa        369
Microempresa         51
Name: Tamaño, dtype: int64

In [ ]:
panel["Edad (años)"].value_counts()

29.0     252
21.0     204
22.0     180
32.0     168
25.0     168
20.0     168
19.0     162
30.0     162
28.0     162
27.0     156
24.0     150
33.0     138
31.0     132
38.0     120
18.0     120
37.0     114
26.0     108
12.0     108
42.0     108
15.0     102
17.0     102
11.0      90
40.0      84
36.0      84
23.0      84
10.0      84
43.0      78
39.0      72
35.0      72
14.0      72
16.0      72
41.0      66
48.0      66
9.0       60
47.0      54
34.0      54
8.0       48
44.0      48
46.0      48
49.0      42
54.0      42
50.0      42
13.0      36
45.0      36
53.0      36
63.0      30
58.0      30
57.0      30
52.0      24
55.0      24
51.0      24
7.0       24
59.0      24
61.0      18
60.0      18
64.0      18
62.0      18
71.0      12
77.0      12
74.0       6
92.0       6
3.0        6
5.0        6
68.0       6
69.0       6
75.0       6
66.0       6
65.0       6
78.0       6
56.0       6
72.0       6
76.0       6
83.0       6
73.0       6
0.0        6
1.0        6
123.0      6
6.0        6
Name: Edad (años), dtype: int64

In [ ]:
len(panel["Edad (años)"].value_counts())

78

In [ ]:
panel["Clasificación Industrial Internacional Uniforme Versión 4 A.C"].value_counts()

C1410 - Confección de prendas de vestir, excepto prendas de piel                                                             522
C2229 - Fabricación de artículos de plástico n.c.p.                                                                          424
C1811 - Actividades de impresión                                                                                             225
C2023 - Fabricación de jabones y detergentes, preparados para limpiar y pulir; perfumes y preparados de tocador              212
C2100 - Fabricación de productos farmacéuticos, sustancias químicas medicinales y productos botánicos de uso farmacéutico    180
                                                                                                                            ...
C2421 - Industrias básicas de metales preciosos                                                                                1
C2651 - Fabricación de equipo de medición, prueba, navegación y control                                                        1
C1922 - Actividad de mezcla de combustibles                                                                                    1
C2396 - Corte, tallado y acabado de la piedra                                                                                  1
C3319 - Mantenimiento y reparación de otros tipos de equipos y sus componentes n.c.p.                                          1
Name: Clasificación Industrial Internacional Uniforme Versión 4 A.C, Length: 118, dtype: int64

In [ ]:
len(panel["Clasificación Industrial Internacional Uniforme Versión 4 A.C"].value_counts())

118

In [ ]:
panel["CIIU"].value_counts()

C10    930
C22    629
C20    534
C14    531
C25    303
C18    258
C23    210
C28    198
C13    181
C21    180
C32    168
C17    137
C27    131
C15    125
C31    121
C29    100
C33     95
C24     81
C19     59
C16     54
C11     44
C26     20
C30     11
Name: CIIU, dtype: int64

In [ ]:
len(panel["CIIU"].value_counts())

23

In [ ]:
panel["Clasificacion"].value_counts()

1    5099
2       1
Name: Clasificacion, dtype: int64

In [ ]:
# Funcion para determinar qué empresas no cuentan con la variable edad
def edad_na():
  resultado = []
  indice = 0
  for val in panel["Edad (años)"]:
    if pd.isnull(val) == True:
      adjuntar = panel.loc[indice, "NIT"]
      resultado.append(adjuntar)
    indice = indice + 1
  return list(set(resultado))

In [ ]:
edad_na()
# Estas empresas no cuentan con la variable Edad

[860020609,
 800182918,
 891401227,
 830126110,
 860052649,
 800119210,
 860521517,
 800124852,
 890903993,
 900114108,
 890900557,
 890200656,
 860351955,
 890200408,
 860533213,
 900343901,
 900072035,
 890908404,
 890104439,
 860091130,
 830006911]

In [ ]:
# Creamos una nuevo Dataframe que mostrará cuantas variables en 0 tiene cada empresa
valores_en_cero = pd.DataFrame()

In [ ]:
empresas = []
año = []
ceros = []
rango = range(5100)
for indice in rango:
  contador = 0
  empresas.append(panel.loc[indice, "NIT"])
  año.append(panel.loc[indice, "Fecha de Corte"])
  for columna in panel:
    if panel.loc[indice, columna] == 0:
      contador = contador +1
  ceros.append(contador)
valores_en_cero["NIT"] = empresas
valores_en_cero["Fecha de Corte"] = año
valores_en_cero["Variables en Cero"] = ceros

In [ ]:
valores_en_cero.head(10)

         NIT  Variables en Cero Fecha de Corte
0  800000313                 34     2016-12-31
1  800000313                 34     2017-12-31
2  800000313                 34     2018-12-31
3  800000313                 38     2019-12-31
4  800000313                 34     2020-12-31
5  800000313                 37     2021-12-31
6  800001161                 42     2016-12-31
7  800001161                 41     2017-12-31
8  800001161                 44     2018-12-31
9  800001161                 46     2019-12-31

In [ ]:
valores_en_cero = valores_en_cero.drop("Fecha de Corte", axis=1)

In [ ]:
#sumamos el total de valores en cero para cada empresa
nit_0 = valores_en_cero.loc[0, "NIT"]
nuevo_ceros=[]
suma = 0
for indice in rango:
  nit_1 = valores_en_cero.loc[indice, "NIT"]
  if indice != 5099:
    if nit_1 == nit_0:
      suma = suma + valores_en_cero.loc[indice, "Variables en Cero"]
      nit_0 = valores_en_cero.loc[indice, "NIT"]
    else:
      nuevo_ceros.append(suma)
      suma = valores_en_cero.loc[indice, "Variables en Cero"]
      nit_0 = valores_en_cero.loc[indice, "NIT"]
  else:
    suma = suma + valores_en_cero.loc[indice, "Variables en Cero"]
    nuevo_ceros.append(suma)

In [ ]:
valores_en_cero_1 = pd.DataFrame()

In [ ]:
valores_en_cero_1["NIT"]=list(set(valores_en_cero["NIT"]))

In [ ]:
valores_en_cero_1["Total"]=nuevo_ceros

In [ ]:
#DataFrame con el total de valores en 0 para cada empresa
valores_en_cero_1.head(10)
# Para comparar, cada empresa presenta un total de 516 variables (86 columnas x 6 años)

         NIT  Total
0  800145414    211
1  800225290    266
2  811022347    200
3  830044171    199
4  800182285    190
5  900208659    202
6  830130199    186
7  800196632    251
8  860520474    188
9  811024414    234

In [ ]:
valores_en_cero.to_excel(r'C:\Users\mrodr\Downloads\valores_en_cero_con_fecha.xlsx', index=False)